.offergamer {
    width: 40%;
    margin: auto;
    color: white;
}
.maintext{
    display: inline-block;
}
.offergamer .title{
    padding: 20px;
}
.offergamer .content  h1{
    font-size: 20px;
}
.offergamer .content .texts{
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.offergamer .content{
    color: white;
    font-size: 20px;
}
.offergamer .content span{
    color:red;
}
.offergamer .content .contact{
     gap:20px;
     display: inline-flex;
     margin-top: 50px;
}
.content .contact .senses{
    display: flex;
    margin-right: -15px;
}
.offergamer .content .contact p{
    margin-top: 0px; 
    margin-left: -2px;
}
.offergamer .content .sensimga{
    width: 20px;
    height:20px;
    border-radius: 200px;
}
.offergamer .content .conads{
    border: 1px solid beige;
    height: 100px;
    margin-top: 50px;
}
.offergamer .content {
    width: 100%;
    padding-top: 50px;
    font-size: 25px;
    padding-bottom: 40px;
    color: white;
}
ul li{
    font-size: 15px;
}
.offergamer .content .titlepolicy{
    font-size: 30px;
}

@media screen and (max-width:774px){
    .offergamer {
        width: 80%;
        margin: auto;
        color: white;
        margin: auto;
    }
    .offergamer .content .titlepolicy{
        padding-top: 0px;
    }
 }
 @media screen and (max-width: 958px){
    .offergamer {
        width: 80%;
        margin: auto;
        color: white;
        margin: auto;
    }

 }

 @media screen and (max-width: 500px){
    .offergamer {
        width: 90%;
        margin: auto;
        color: white;
        margin: auto;
    }

 }

